<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reflect AI - Register</title>
        <link rel="stylesheet" href="{{url_for('static', filename='login-styles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <!--<h2>Create a Reflect AI Account!</h2>
            <input id="loginid" type="text" name="loginid" placeholder="Login ID" required>
            <input id="password" type="email" name="password" placeholder="Email" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
            <input id="password" type="password" name="password" placeholder="Confirm Password" required>
            <button type="submit" id="submit">Register</button>
            <br>
            <br>
            Already have an account? <a href="/login">Login Now!!</a>-->
            <h2 style="font-size: 34px; text-align: center;">This page is still under developement</h2>
            <p style="font-size: 20px; text-align: center;">Since this website is in its earliest stage, this page has not been coded yet. Please use the following account details:-</p>
            <span style="font-size: 30px; color: #2091b0; font-weight: 460; justify-content: start; width: 100%; text-align: left;">
                LoginID: guest123
                <br>
                Password: 12345
            </span>
            <br>
            <br>
            <a href="/login" class="go-back-to-login">
                Go Back to Login
                <i class="fa-solid fa-circle-chevron-right"></i></i>
            </a>
        </div>
        <script src="{{url_for('static', filename='scripts/login/register.js')}}"></script>
    </body>
</html>